
<div *ngIf="showLogin">
    <div id="center">
        <p>
            Welcome to the Warehouse System!
        </p>
    </div>

    <div class="center">
        <form [formGroup]="loginForm">
            <div>
                <label>
                    EMAIL:
                    <input type="text" formControlName="userEmail" size="30">
                </label>
            </div>

            <div>
                <label>
                    PASSWORD:
                    <input type="text" formControlName="passWord">
                </label>
            </div>
        </form>

        <div>
            <button (click)="confirmLogin($event)" style="margin:5px;">Login</button>
            <button (click)="signUp($event)">Create New User</button>
        </div>
    </div>
</div>

<app-navbar></app-navbar>

<div *ngIf="failedLoggedIn">
    wrong password!
</div>