<div class="center" *ngIf="checkCreateUser">
    <form>
        <div>
            <label>
                EMAIL:
                <input type="text" size="30">
            </label>
        </div>

        <div>
            <label>
                PASSWORD:
                <input type="text">
            </label>
        </div>

        <div>
            <label>
                PASSWORD AGAIN:
                <input type="text">
            </label>
        </div>
    </form>

    <div>
        <button (click)="createNewUser($event)">Confirm</button>
    </div>

    <div>
        <button (click)="backToHome($event)">Cancel</button>
    </div>
</div>