<div class="center" *ngIf="checkCreateUser">
    <div id="center">
        <p>
            Welcome to the Warehouse System!
        </p>
    </div>

    <form [formGroup]="newUserForm">
        <div>
            <label>
                EMAIL:
                <input type="text" formControlName="user" size="30">
            </label>
        </div>

        <div>
            <label>
                PASSWORD:
                <input type="text" formControlName="passwd">
            </label>
        </div>

        <div>
            <label>
                PASSWORD AGAIN:
                <input type="text">
            </label>
        </div>
    </form>

    <div>
        <button (click)="createNewUser($event)">Confirm</button>
    </div>

    <div>
        <button (click)="backToHome($event)">Cancel</button>
    </div>
</div>