<div>
    hello world
</div> 

<div class="center">
    <form [formGroup]="loginForm">
      <div>
          <label>
            USERNAME:
            <input type="text" formControlName="userName">
          </label>
      </div>

      <div>
          <label>
            PASSWORD:
            <input type="text" formControlName="passWord">
          </label>
      </div>
    </form>

    <div>
        <button (click)="confirmLogin($event)">Login</button>
    </div>
</div>