<div *ngIf="showDashBoard">
    <p>
        dashboard works!
    </p>

    <div>
        <button (click)="backHome($event)">Home Page</button>
    </div>

    <div>
        <button (click)="loadUsers($event)">Load Users</button>
    </div>
    
    <div *ngIf="showUsers">
        <ul>
            <li *ngFor="let user of curUsers">
                <p>User: {{user.user}}   Password: {{user.passwd}}</p>
            </li>
        </ul>
    </div>



    <button type="button" class="btn btn-primary" (click)="createNewWarehouse(template)">Create template modal</button>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            This is a modal.
        </div>
    </ng-template>

</div>



<!--<app-warehouse></app-warehouse>-->

